* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 2px solid red; */
}

@font-face {
	font-family: Iansui;
	src: url("./images/Iansui-Regular.ttf");
}

body {
	font-family: "Inter", sans-serif;
}

.container {
	width: 90%;
	margin: 0 auto;
}

#nav-bar {
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
}

nav p,
.footer-logo {
	font-weight: bold;
	font-size: 1.25rem;
	margin: 0;
}

.rena {
	text-decoration: none;
}

nav p,
span,
.footer-logo {
	background: linear-gradient(to right, #c026d3, #9333ea);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

nav ul {
	display: flex;
	gap: 40px;
}

nav li {
	list-style: none;
	font-size: 1.1rem;
}

#nav-bar li a {
	color: #4b5563;
}

#hero {
	background-color: #fdf4ff;
	padding: 120px 0;
	text-align: center;
}

.welcome {
	color: #c026d3;
	background-color: #fdf4ff;
	border: 2px solid #d179ea;
	border-radius: 5px;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 1.25rem;
	display: inline-block;
}

.hero-img-container {
	display: none;
}

a {
	text-decoration: none;
	text-align: center;
}

h1 {
	font-size: 3rem;
	margin: 20px 0 20px;
}

#hero a {
	width: 75%;
	padding: 12px 0;
	border-radius: 20px;
	border: 1px solid #c026d3;
}

.hero-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.dark {
	background: #c026d3;
	color: #fff;
}

.light {
	background: #fff;
	color: #c026d3;
}

.dark:hover {
	background: #9333ea;
	color: #fff;
	cursor: pointer;
}

.light:hover {
	background: #d1d0d0;
	cursor: pointer;
}

.light:active,
.dark:active {
	transform: scale(0.97);
}

h2 {
	display: block;
	padding: 40px 0 20px;
	margin-top: 50px;
	font-size: 2.25rem;
	text-align: center;
}

#about img {
	width: 50%;
	display: block;
	border-radius: 50%;
	margin: 0 auto 20px;
}

p {
	color: #4b5563;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 10px;
}

h3 {
	font-size: 2rem;
	margin-bottom: 10px;
}

#skills {
	background: #f9fafb;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #fff;
	background-color: #fff;
	box-shadow: 0 0 3px #777;
	padding: 1.6rem;
	margin-top: 2em;
	border-radius: 1em;
	width: 95%;
}

#skills h3 {
	font-size: 1.25rem;
}

.card-icon {
	background: #e6e3e3;
	height: 2rem;
	width: 2rem;
	margin-bottom: 0.5em;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-skills {
	display: flex;
	gap: 0.5em;
	flex-wrap: wrap;
}

.card:hover,
.card:focus,
.card:active {
	box-shadow: 0 0 10px #999;
}

#html {
	background: #fff7ed;
	border: 1px solid #ffedd5;
}

#html {
	color: #c2410c;
}

.card-skills p {
	margin: 0;
}

#skills img {
	margin: 0;
	padding: 3px;
	height: 2rem;
	width: 2rem;
}

#css {
	background: #eff6ff;
	border: 1px solid #dbeafe;
}

#css {
	color: #1d4ed8;
}

.skills-container {
	padding: 5px;
	display: flex;
	height: auto;
	align-items: center;
	border-radius: 10px;
	gap: 10px;
}

.chinese-input {
	font-family: Iansui;
	color: #15803d;
	background: #f0fdf4;
	border: 1px solid #d1fae5;
}

.language {
	color: #9333ea;
	background: #fdf4ff;
	border: 1px solid #e5e7eb;
}

p {
	max-width: 600px;
}

#contact {
	margin: 50px;
}

#contact h2 {
	margin-top: 20px;
}

#contact p {
	margin: 0 auto;
}

.contact-icon-container {
	background: #d179ea;
	padding: 30px;
	margin: 0 auto;
	display: flex;
	width: fit-content;
	justify-content: center;
	border-radius: 50%;
}

.contact-icon {
	height: 6rem;
	margin: 0;
}

.contact-icons {
	display: flex;
	gap: 2em;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	flex-wrap: wrap;
}

.contact-detail-container {
	display: flex;
	background: #999;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	border-radius: 50%;
}

.contact-detail-container:hover,
.contact-detail-container:focus {
	background: #9333ea;
}

.contact-detail-container:active {
	transform: scale(0.97);
}
.contact-detail {
	margin: 0;
	height: 3.5rem;
	width: 3.5rem;
}

.footer {
	background-color: #fdf4ff;
	padding: 1.5em 0;
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-logo {
	display: none;
}

.copyright {
	margin: 0;
}

@media (min-width: 640px) and (max-width: 767px) {
	.nav {
		max-width: 640px;
	}

	.hero-links {
		flex-direction: row;
		justify-content: center;
	}

	#hero a {
		width: 20%;
	}

	.footer-container {
		justify-content: space-between;
	}

	.footer-logo {
		display: block;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 1000px;
	}

	.hero-container {
		display: flex;
		align-items: center;
		justify-content: center;
		/* gap: 8em; */
	}

	#hero {
		text-align: left;
	}

	.welcome {
		text-align: inherit;
	}

	h1 {
		font-size: 4.5rem;
	}

	.hero-links {
		flex-direction: row;
		gap: 2em;
	}

	#hero a {
		width: 25%;
		padding: 0.5em 1em;
		border-radius: 10px;
	}

	.hero-container {
		justify-content: space-between;
	}
	.hero-img-container {
		display: block;
	}

	#hero-img {
		width: 100%;
	}

	.about-content {
		display: flex;
		align-items: center;
		gap: 2em;
	}

	#about img {
		width: 300px;
		height: 300px;
	}

	#about h2 {
		margin-bottom: 20px;
	}

	.skills-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-container {
		justify-content: space-between;
	}

	.footer-logo {
		display: block;
	}
}
